// @import 'core/settings';

// body {
//  background: url('../images/logo-adalab-80px.png') center center no-repeat $color-white;
// 	height: 100vh;
// }

@import './core/variables';
// @import './layout/base';
// @import './layout/header';
// @import './layout/newsection';
// @import './layout/article1';
// @import './layout/article2';
// @import './layout/footer';



*,*::after,*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
	background: rgba(47, 79, 79, 0.3);
	font-family: $fontRobotoSlab;
	min-width: 530px;
	height: 100vh;
}

.title{
	text-align: center;
	background-color: honeydew;
	padding: 30px;	
	letter-spacing: 2px;
	text-transform: capitalize;
}

#inpSearch{
	padding: 4px 6px;
	width: 150px;
}

.btnSearch{
	background-color: honeydew;
	padding: 10px;
	color: darkslategrey;
	font-weight: bold;
	font-family: $fontRobotoSlab;
    padding: 3px 8px;


}
.subtitle{
	padding: 22px 0 0;
}

.cont-fav{
	text-align: left;
	padding: 30px 20px;
	background: rgba(47, 79, 79, 0.5);
	min-width: 300px;

}

.container{
	display: flex;
	justify-content: flex-start;

}

.listUlFav{
	padding-right:20px;
	padding-top:20px;
}


.listUl{
	padding: 30px 40px;

	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

li{
	width: 220px;
	background-color: honeydew;
	color: darkslategrey;
	font-size: $font-sizeMed;
	font-weight: bold;
	margin: 20px 5px;
	list-style:none;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.inv-colors{
	background-color:darkslategrey;
	color:honeydew;

}
.delete{
	font-size:10px;
	text-decoration: none;
	border:solid 2px darkslategrey;
	background-color:darkslategrey;
	color:honeydew;
}