// @import 'core/settings';

// body {
//  background: url('../images/logo-adalab-80px.png') center center no-repeat $color-white;
// 	height: 100vh;
// }

.title{
	text-align: center;
}

.container{
	display: flex;
	justify-content: flex-start;

}

li{
	width: 250px;
	background-color: pink;
	color: blue;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 20px;
	list-style:none;
}

.inv-colors{
	background-color: blue;
	color: pink;

}