<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Series finder</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:700" rel="stylesheet">
  <link rel="icon" href="favicon.png"/>
	<link rel="stylesheet" href="assets/css/main.css">
</head>

<body>
  <header class="cont-header">
    <h1 class="title">Buscador de series</h1>
  </header>

  <main class="container">

    <section class="cont-fav">
      <input type="text" id="inpSearch">
      <button class="btnSearch">Buscar</button>
      <h2 class="subtitle"></h2>
      <ul class="listUlFav"></ul>
    </section>

    <section class="cont-search">      
      <ul class="listUl"></ul>
    </section>

  
  </main>

  <script type="text/javascript" src="assets/js/main.js"></script>
</body>
</html>
