$greyBlue100:honeydew;
$greyBlue900:darkslategrey;
$greyBlue500:rgba(47, 79, 79, 0.5);
$greyBlue300:rgba(47, 79, 79, 0.3);

$font-sizeMin: 10px;
$font-sizeMed: 20px;

$fontRobotoSlab: 'Roboto Slab', serif;