// $whiteSnow: #fff;
// $blackBatman: #000;
// $blueMenu: #0271bc;
// $orangeBright:#f26002;
// $blueLight: #8ccbea;
// $greyBrown:#4a4a4a;
// $blueIce: #eff9ff;
// $blueDark: #304268;
// $orangeLight: #fdd4a6;
// $redHeart: #ff0000;

// $font-sizeMin: 14px;
// $font-sizeRegular: 16px;
// $font-sizeRegularMax: 18px;
 $font-sizeMed: 20px;
// $font-sizeMedMax: 24px;
// $font-sizeTitle: 42px;
// $font-sizeTitleMid: 80px;
// $font-sizeTitleMax: 100px;

$fontRoboto: 'Roboto', sans-serif;
$fontRobotoSlab: 'Roboto Slab', serif;